.home-top_item {
  list-style: none;
}

.home-top_sublist {
  display: flex;
  list-style: none;
}
.text-tube {
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  margin-right: 25px;
}
.home-top__text {
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  padding: 0;
}

.home-top-item{
margin-right: 35px;
}
.home-top_sublist{
  align-items: center;
  margin: 0;
  padding: 0;
}
.home-top__text{
  width: 290px;
}