.home-top_item {
  font-family: Mulish;
  list-style: none;
}

.home-top_sublist {
  display: flex;
  list-style: none;
}
.text-tube {
  font-family: Mulish;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
  margin-right: 10px;
}
.home-top__text {
  font-family: Mulish;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  padding: 0;
}

.home-top-item {
  font-family: Mulish;
  height: 100px;
  margin-right: 35px;
}
.home-top_sublist {
  align-items: center;
  margin: 0;
  padding: 0;
}
.home-top__text {
  font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #19202C;
  width: 250px;
  padding: 0;
  margin: 0;
  height: 60px;
}

.home-top_item {
  padding: 0;
  margin: 0;
}

.home-middle{
  margin-top: 200px;
}