.home-middlie-item {
  margin-right: 40px;
}
.cover-img {
  border-radius: 15px;
}
.middle-text {
    display: flex;
  font-size: 12px;
  line-height: 15px;
  color: #c2c2c2;
  justify-content: space-between;
}

.middle-title{
    font-size: 16px;
line-height: 20px;
/* identical to box height */


color: #19202C;
}