.food-item {
  font-family: Mulish;
  // margin-top: 150px;
  margin-right: 20px;
}
.food-title {
  font-family: Mulish;
  width: 250px;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  height: 35px;
}
