.video-link{
    text-decoration: none;
}

.home-bottom_sublist {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.home-bottom__text {
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #19202C;
}

.home-bottom-item {
    padding: 0;
    margin: 0;
    margin-right: 15px;
    list-style: none;
}

.text-tube {
    bottom: 0;
    font-family: Mulish, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;

}