.rightbar-text {
  display: flex;
}
.rightbar-text2 {
    font-family: Mulish;
  margin-left: 35px;
  font-size: 13px;
  line-height: 23px;
  color: #c2c2c2;
}
.rightbar-text1 {
    font-family: Mulish;
  font-size: 13px;
  line-height: 23px;
  color: #c2c2c2;
}
.rightbar-title {
    font-family: Mulish;
font-style: normal;
font-weight: bold;
  font-size: 26px;
  line-height: 28px;
  margin: 0;
}
.rightbar-item {
  padding: 0;
  margin: 0;
}
