.home {
  display: flex;
}

.home-top-list {
  width: 85vw;
  display: flex;
  overflow: auto;
  list-style: none;
}

.blair-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  margin-left: 15px;
}
.blair {
  object-fit: cover;
}

.home-main__channel {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.arrow{
    margin-left: auto;
}