.home {
  display: flex;
  // height: 500px;
  // overflow: auto;
}
.overflow {
  width: 85vw;
  height: 630px;
  overflow: auto;
  margin-left: 15px;
}
.home-top-list {
  font-family: Mulish;
  width: 81vw;
  display: flex;
  height: 250px;
  list-style: none;
  overflow: auto;
}

.blair-text {
  font-family: Mulish;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
  margin-left: 15px;
  margin-top: 10px;
}
.blair {
  object-fit: cover;
  margin-top: -18px;
}
.linksd{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.home-main__channel {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.arrow {
  display: flex;
  margin-left: auto;
  margin-top: -15px;
  
}
.arrowfood{
  margin-right: 15px;
}
.arrow-left {
  margin-right: 5px;
}

.home-middlie-list {
  font-family: Mulish;
  width: 81vw;
  margin-top: -180px;
  display: flex;
  list-style: none;
  overflow: auto;
}

.food-list {
  font-family: Mulish;
  width: 81vw;
  display: flex;
  overflow: auto;

  list-style: none;
}
.recommended {
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}
.rec-box {
  display: flex;
  align-items: center;
  padding: 0 50px;
}
.arrow {
  margin-left: auto;
}
.arrow-box {
  margin-right: 5px;
}
.food-channel__title {
  font-family: Mulish, sans-serif;
  font-size: 26px;
  line-height: 33px;
  color: #19202c;
}

.food-channel__text {
  font-family: Mulish;
  font-size: 12px;
  line-height: 15px;

  color: #c2c2c2;
}
.food-channel__title {
  font-family: Mulish;
  margin: 25px 15px;
}
.food-wapper {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.mainfood-wapper {
  width: 83vw;
  display: flex;
  align-items: center;
}
.home-rightbar {
  height: 150px;
}
.links {
  text-decoration: none;
  color: black;
}
.home-rightbar__list {
  font-family: Mulish;
  list-style: none;
}
