.sidebar{
  height: 580px;
  padding: 0 20px;
}
.top-list {
  font-family: Mulish; 
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
 
}

.top-item {
  margin-bottom: 10px;
}

.text {
  margin-left: 15px;
}

.mid-list {
  font-family: Mulish;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mid-item {
  font-family: Mulish;
  margin-bottom: 15px;
}

.subscriptions-list {

 
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 110px;
  overflow: auto;
}

.subscriptions-item {
  width: 155px;
  font-family: Mulish;
  display: flex;
  margin-top: -20px;
  text-align: start;
}

.sub-img {
  object-fit: contain;
}

.text {
  font-family: Mulish;
  font-size: 16px;
  line-height: 20px;
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  color: #898989;
}

.subscribed-users {
  padding: 0;
  margin-top: 30px;
  margin-bottom: 10px;
}

.sub-img {
  margin-right: 10px;
}

.sub-username {
  font-family: Mulish;
  font-size: 16px;
  line-height: 20px;
  color: #898989;
}

.settings {
  font-family: Mulish;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 50px;
}

.sub-settings {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  text-decoration: none;
  align-items: center;

}
.sub-user{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;

  align-items: center;
}
.link-active {
  text-decoration: none;

  .text {
    color: red;
  }

  svg {
    path {
      fill: rgb(233, 0, 0);
    }
  }
}

.sub-img-belle{
  margin-right: 10px;
  transform: scale(1.3);
}