.vid-box{
    display: flex;
    align-items: center;
}

.button-box{
    display: flex;
    margin-left: auto;
    // padding-right: 400px;
}
.iframe-youtube{
    margin-top: 50px;
    border-radius: 14px;
    
}
.description{
    cursor: pointer;
    padding-left: 15px;
}
.like-button, .dislike-button, .share-button{
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border:none
}

.dislike-button{
    margin: 0 15px;
}
.foodsub__text2{
    width: 700px;
}